.header{
  background-color:brown;
  color: Black;
  padding:15px;
  margin-bottom: 14px;
  border: 3px solid purple;
  text-align:center;
  font-style: normal;
  font-weight: bold;
  font-family: fantasy;

}
.mimi{
  width: 300px;
  height: 500px;
  background-color: #8AC58C;
  margin-top: 30px;

}
.yy {
  width: 300px;
  height: 500px;
  background-color: white;
  margin-top: 30px;


}
